<div class="container-fluid">
    <div class="col-md-offset-1">
      <h2>
        Welcome to <mark>Books Library</mark>
      </h2>
    </div><br>
    
    <a routerLink="/books"> <button type="button" class="btn btn-warning">List Of Books</button></a>
    <a style="-ms-layout-grid-line:10px" routerLink="/add-Book"><button type="button" class="btn btn-dark">Add Books</button></a>
    <a style="-ms-layout-grid-line:10px" routerLink="search-Book"><button type="button" class="btn btn-info">Search Books</button></a>
    <br/>
     <br/>
   
    </div>
<router-outlet></router-outlet>